.my-schedule-page .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 0em;
}

.my-schedule-page .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 0em;
}
.my-schedule-page .fc, .fc *, .my-schedule-page .fc :after, .my-schedule-page .fc :before {
  box-sizing: border-box;
  color: black;
}

/* Custom style for the FullCalendar container */
.my-schedule-page .custom-calendar {
  border-top: 2px solid #000; /* Border color and width */
  position: relative; /* Ensures the border is correctly positioned */
}

/* Remove border from FullCalendar header */
/* .fc .fc-col-header {
  border: none !important;
} */

/* Remove any other borders in the FullCalendar header */
.my-schedule-page .fc .fc-toolbar {
  border: none !important;
}

/* Ensure that other calendar components are not affected */
.my-schedule-page .fc .fc-daygrid-day-frame,
.my-schedule-page .fc .fc-daygrid-day-top,
.my-schedule-page .fc .fc-daygrid-day-number {
  border: none !important;
}

.my-schedule-page .fc .fc-scrollgrid {
  border: none;
}

.my-schedule-page .fc-theme-standard td, .my-schedule-page .fc-theme-standard th {
  border: none;
}

.my-schedule-page .fc-scrollgrid-sync-table {
  border-collapse: separate;
  border-spacing: 2px 0;
}
.my-schedule-page .fc-daygrid-day-top{
  background: #F6F6F6;
}


/* .fc .fc-daygrid-day-top {
  margin-right: 9px;
  margin-bottom: 10px;
} */
.my-schedule-page .fc .fc-daygrid-day-frame, .my-schedule-page .fc .fc-daygrid-day-top, .my-schedule-page .fc .fc-daygrid-day-number {
  border: none !important;
  background: #F6F6F6;
  /* margin: 10px; */
}