.fc .fc-daygrid-day-top {
  background: #F6F6F6;
}

.fc .fc-toolbar {
  border: none !important; /* Remove border from the toolbar */
}

.fc .fc-dayGrid-header {
  border: none !important; /* Remove border from the day header */
}

.fc-dayGrid-day {
  padding: 10px; /* Adjust as needed for spacing */
}
.fc-col-header {
  border: none !important; /* Remove border from the
}
  .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
margin-bottom: 0em;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
min-height: 0em;
}
.fc, .fc *, .fc :after, .fc :before {
box-sizing: border-box;
/* background: #fff; */
border: none;
/* color: black; */
font-size: 14px;
font-weight: 500;
}

/* Custom style for the FullCalendar container */
.custom-calendar {
border-top: 2px solid #000; /* Border color and width */
position: relative; /* Ensures the border is correctly positioned */
}

/* Remove border from FullCalendar header */
/* .fc .fc-col-header {
border: none !important;
} */

/* Remove any other borders in the FullCalendar header */
.fc .fc-toolbar {
border: none !important;
}

/* Ensure that other calendar components are not affected */
.fc .fc-daygrid-day-frame,
.fc .fc-daygrid-day-top,
.fc .fc-daygrid-day-number {
border: none !important;
}

.fc .fc-scrollgrid {
border: none;
}

.fc-theme-standard td {
border: 12px solid #fff;
}

.fc-theme-standard td:last-child {
border-right: none;
}

.fc-theme-standard th {
border: none;
background: #fff;
height: 50px;
color: #3A3A3A;
font-size: 20px;
font-weight: 600;
line-height: 30px;
}

.fc-scrollgrid-sync-table {
border-collapse: separate;
border-spacing: 2px 0;
}
.fc-daygrid-day-top{
background: #fff;
}

/* styles.css */
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #3A3A3A;
  text-transform: uppercase;
}


/* .fc .fc-daygrid-day-top {
margin-right: 9px;
margin-bottom: 10px;
} */
.fc .fc-daygrid-day-frame, .fc .fc-daygrid-day-top, .fc .fc-daygrid-day-number {
border: none !important;
background: #fff;
/* margin: 10px; */
}

.fc .fc-toolbar.fc-header-toolbar {
display: none;
}

.css-ijsi3p-MuiPaper-root-MuiAccordion-root::before {
background: none;
}

.fc .fc-daygrid-day-frame {
 border: 1px solid #E5E5E5 !important;
  background: #fff;
  /* margin: 10px; */
}

.fc .fc-daygrid-day-top{
  background-color: #F6F6F6;
}

.fc-scrollgrid-sync-table {
  border-collapse: separate;
  border-spacing: 2px 0;
}

.fc .fc-daygrid-day-number {
  padding: 4px;
  position: relative;
  z-index: 4;
  right: 150px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2872C1;
  background-color: #F6F6F6;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
 background:  #FFFFFF;
 border: #FFFFFF;
 cursor: pointer;
}


.fc .fc-toolbar.fc-header-toolbar{
  display: none;
}

.MuiSelect-icon {
  color: #000000;
}

.MuiSelect-select.MuiSelect-select {
  /* padding-right: 24px; */
  padding: 15px;
  /* border-radius: 10px; */
}

.MuiSelect-icon {
  right: 12px;
}

.MuiPaper-rounded {
  border-radius: 2px;
}